* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: #F4EDF6;
    color: #3F3F3F;
}

h1 {
    text-align: center;
    padding-top: 32px;
}

.wrapper {
    width: 50%;
    height: 40%;
    margin: 100px auto 0px auto;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.wrapper input {
    height: 28px;
    margin: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #bdc3c7;
    padding: 12px;
    color: #3F3F3F;
}

#regExpInput {
    order: 1;
    flex-basis: 55%;
}

#flags {
    flex-basis: 25%;
    order: 2;
}

#testSentence {
    order: 3;
    flex-basis: 55%;
    
    text-align: left;
}

#testButton {
    flex-basis: 55%;
    height: 32px;
    order: 4;
    border: none;
    background: #3498db;
    border-radius: 10px;
    font-weight: 700;
    color: #ecf0f1;
    margin: 10px;
}

#testButton:hover {
    background-color: #2980b9;
}

.final {
    width: 170px;
    height: 48px;
    padding: 12px;
    order: 5;
    font-size: 24px;
}

#result {
    text-align: left;
}

fieldset {
    border: none;
}